
body {
    font-family: Arial, sans-serif;
  }
  
  .container {
    max-width: 600px;
    margin: 0 auto;
    text-align: center;
  }
  
  ol {
    list-style-position: inside;
    padding-left: 0;
  }
  
  li {
    margin: 10px 0;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
  }
.hide{
    display: none;
}
  .highlight {
    display: block;
  }
  
  /* button {
    margin-top: 20px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border: none;
    border-radius: 5px;
  } */
  
  .btn:disabled {
    font-size: smaller !important;
    cursor: not-allowed;
  }
  
  .btn:not(:disabled) {
font-size: smaller !important;
    /* background-color: #4CAF50; */
    color: white;
  }
  
